Repository depromeet/ahmatda-web, pull requests merged in 2022-11, with the labels that each got.

#10 Webview bridge hook, util 개발
  @types/global.d.ts
  src/hooks/bridge/postAppMessage.test.ts
  src/hooks/bridge/postAppMessage.ts
  src/hooks/bridge/type.ts
  src/hooks/bridge/useAppMessageListener.test.ts
  src/hooks/bridge/useAppMessageListener.ts
  src/hooks/bridge/useListeningAppMessage.test.tsx
  src/hooks/bridge/useListeningAppMessage.ts
Labels: feat, test: unit

#14 CodeQL 부착
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Labels: feat, workflow

#30 feat: apply color scheme
  src/styles/theme.ts
Labels: style

#29 pretendard 폰트 적용
  src/pages/_document.page.tsx
  src/styles/GlobalStyles.tsx
Labels: style

#32 패키지, 작성자 명 변경
  .pnp.cjs
  package.json
  yarn.lock
Labels: chore

#41 TextField 컴포넌트
  .eslintrc.js
  src/components/icon/IconAdd.tsx
  src/components/icon/IconCancel.tsx
  src/components/icon/IconCancelSmall.test.tsx
  src/components/icon/IconCancelSmall.tsx
  src/components/icon/IconHome.tsx
  src/components/icon/IconMenu.tsx
  src/components/icon/IconMovable.tsx
  src/components/icon/IconOverflow.tsx
  src/components/icon/IconPin.tsx
  src/components/icon/IconSearch.tsx
  src/components/svg/Svg.tsx
  src/components/text-field/TextField.test.tsx
  src/components/text-field/TextField.tsx
  src/styles/theme.ts
Labels: feat, test: unit, style

#39 BottomSheet 관련 컴포넌트, 기능 개발
  .eslintrc.js
  src/components/portal/BottomSheet.tsx
  src/components/portal/PortalWrapper.tsx
  src/hooks/scroll/usePreventScroll.ts
  src/pages/_app.page.tsx
  src/pages/test/index.page.tsx
  src/styles/GlobalStyles.tsx
Labels: feat, style

#48 Chip 컴포넌트
  .vscode/settings.json
  package.json
  src/components/chip/Chip.test.tsx
  src/components/chip/Chip.tsx
  src/components/icon/IconInfo.tsx
  src/pages/test/index.page.tsx
Labels: test: unit

#46 IconButton 컴포넌트 개발
  src/components/button/IconButton.tsx
  src/pages/test/index.page.tsx
Labels: feat

#58 SegmentedControl 컴포넌트 개발
  .vscode/settings.json
  src/components/segmented-control/SegmentedControl.tsx
  src/pages/_app.page.tsx
  src/pages/test/index.page.tsx
  src/styles/theme.ts
Labels: feat, style

#44 useToggle hook 개발
  src/hooks/common/useToggle.ts
Labels: feat

#54 로컬 https 개발 환경 설정
  httpsServer.js
  package.json
Labels: feat

#55 BottomNavigation 개발 및 route에 적용
  src/components/icon/IconHome.tsx
  src/components/icon/IconSearch.tsx
  src/components/navigation/BottomNavigation.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/template/index.page.tsx
Labels: feat

#47 AppBar 컴포넌트 개발
  src/components/navigation/AppBar.tsx
  src/pages/test/index.page.tsx
  src/styles/theme.ts
Labels: feat, style

#65 Checkbox 컴포넌트 리팩토링
  src/components/checkbox/Checkbox.test.tsx
  src/components/checkbox/Checkbox.tsx
Labels: test: unit, refactor

#68 Checkbox with Text 개발, Checkbox에 `textLabel` prop 추가
  src/components/checkbox/Checkbox.test.tsx
  src/components/checkbox/Checkbox.tsx
  src/components/checkbox/CheckboxWithText.tsx
  src/pages/test/index.page.tsx
  src/styles/theme.ts
Labels: feat, test: unit, style, :zap:

#62 Carousel Indicator 동작 수정
  src/components/carousel/Indicator.tsx
  src/pages/test/index.page.tsx
Labels: fix

#73 온보딩 타이틀 section 개발
  src/components/route-onboard/TitleSection.tsx
  src/styles/theme.ts
Labels: style

#81 아이콘 수정 및 추가
  src/components/icon/IconAlarm.tsx
  src/components/icon/IconAlarmAdd.tsx
  src/components/icon/IconHome.tsx
  src/components/icon/IconMenu.tsx
  src/components/icon/IconPin.tsx
  src/components/icon/IconSearch.tsx
  src/components/icon/IconSetting.tsx
  src/pages/test/index.page.tsx
Labels: feat, :zap:

#80 `CheckboxGroup` 컴포넌트 테스트 코드 작성, `mocks` 폴더 추가
  src/components/checkbox/Checkbox.test.tsx
  src/components/checkbox/Checkbox.tsx
  src/components/checkbox/CheckboxGroup.tsx
  src/components/route-search/SearchCard.tsx
  src/components/segmented-control/SegmentedControl.tsx
  src/fixtures/checkboxGroup.mock.ts
  src/pages/test/index.page.tsx
  src/styles/theme.ts
Labels: feat, test: unit, style, refactor

#86 [탐색] BottomSheet 제외한 마크업
  src/components/checkbox/CheckboxGroup.tsx
  src/components/route-search/CategorySection.tsx
  src/components/route-search/ListRequestSection.tsx
  src/pages/template/index.page.tsx
Labels: :zap:

#90 DefaultAppBar 디자인 적용
  src/components/navigation/DefaultAppBar.tsx
Labels: :zap:

#88 Tag, EditableTag 컴포넌트 개발 및 적용
  src/components/route-home/RecommendSection.tsx
  src/components/tag/EditableTag.tsx
  src/components/tag/Tag.tsx
  src/pages/index.page.tsx
Labels: feat

#93 Dialog 컴포넌트 개발
  src/components/portal/BottomSheet.tsx
  src/components/portal/Dialog.tsx
  src/components/portal/StyledMotionScrim.ts
  src/components/route-search/CategorySection.tsx
  src/components/route-search/ListRequestSection.tsx
  src/constants/motions.ts
  src/pages/template/index.page.tsx
Labels: feat

#91 Item 컴포넌트 개발
  src/components/item/Item.test.tsx
  src/components/item/Item.tsx
  src/pages/test/index.page.tsx
  src/styles/theme.ts
Labels: test: unit, style

#106 Home 카테고리 설정 Bottom sheet 마크업
  src/components/button/LabelButton.tsx
  src/components/navigation/AppBar.tsx
  src/components/portal/BottomSheet.tsx
  src/components/route-home/CategorySection.tsx
  src/components/route-home/CategorySettingBottomSheet.tsx
Labels: feat

#110 그래픽 개발
  src/components/graphic/GraphicBowling.tsx
  src/components/graphic/GraphicBus.tsx
  src/components/graphic/GraphicCamera.tsx
  src/components/graphic/GraphicEtc.tsx
  src/components/graphic/GraphicFriends.tsx
  src/components/graphic/GraphicGym.tsx
  src/components/graphic/GraphicPlane.tsx
  src/components/graphic/GraphicRun.tsx
  src/components/graphic/GraphicSchool.tsx
  src/components/graphic/GraphicSwim.tsx
  src/components/graphic/GraphicTube.tsx
  src/components/graphic/GraphicWork.tsx
  src/components/graphic/type.ts
  src/pages/test/index.page.tsx
Labels: feat

#113 useInput hook 개발
  @types/common.d.ts
  src/hooks/common/useInput.ts
Labels: feat

#112 notice route 마크업 및 흰색 배경 GlobalStyle 생성
  src/components/navigation/DefaultAppBar.tsx
  src/components/route-notice/NoticeItem.tsx
  src/pages/notice/index.page.tsx
  src/styles/GlobalStyles.tsx
Labels: feat, style

#111 Home EmptyCard
  src/components/graphic/GraphicEmptyCard.tsx
  src/components/route-home/EmptyCard.tsx
  src/pages/index.page.tsx
Labels: feat

#114 Home 카테고리 추가 bottom sheet
  src/components/button/LabelButton.tsx
  src/components/route-home/CategoryAppendBottomSheet.tsx
  src/components/route-home/CategorySettingBottomSheet.tsx
  src/components/route-home/IconRadioGroup.tsx
  src/components/text-field/TextField.tsx
  src/styles/GlobalStyles.tsx
Labels: feat, style

#116 [탐색] BottomSheet 포함한 전체 마크업, 버튼 컴포넌트 css 수정
  src/components/button/ContainedButton.tsx
  src/components/chip/Chip.tsx
  src/components/route-search/AddTemplateSection.tsx
  src/components/route-search/CategorySection.tsx
  src/components/route-search/ListRequestSection.tsx
  src/components/route-search/SearchCard.tsx
  src/pages/template/index.page.tsx
  src/pages/test/index.page.tsx
Labels: :zap:
