Repository depromeet/ahmatda-web, pull requests merged in 2022-12, with the labels that each got.

#125 [홈] 리스트 설정 BottomSheet 마크업
  src/components/route-home/ListSettingBottomSheet.tsx
  src/components/route-search/TemplateAppendBottomSheet.tsx
  src/pages/index.page.tsx
  src/pages/template/index.page.tsx
  src/styles/theme.ts
Labels: style

#120 [홈] Card 컴포넌트 마크업
  src/components/route-home/Card.tsx
  src/components/route-home/CardItem.tsx
  src/components/route-home/EmptyCard.tsx
  src/pages/index.page.tsx
Labels: feat

#124 [홈] category 수정 bottom sheet
  src/components/route-home/CategoryAppendBottomSheet.tsx
  src/components/route-home/CategorySettingBottomSheet.tsx
  src/components/route-home/category/CategoryAppendBottomSheet.tsx
  src/components/route-home/category/CategoryEditBottomSheet.tsx
  src/components/route-home/category/CategoryIconRadioFieldset.tsx
  src/components/route-home/category/CategoryRadioFieldset.tsx
  src/components/route-home/category/CategorySection.tsx
  src/components/route-home/category/CategorySettingBottomSheet.tsx
  src/components/route-home/category/type.ts
  src/pages/index.page.tsx
  src/utils/utils.test.ts
  src/utils/utils.ts
Labels: feat, test: unit, refactor

#129 [홈] 리스트 추가 bottom sheet 개발
  src/components/route-home/EmptyCard.tsx
  src/components/route-home/ListAppendBottomSheet.tsx
  src/components/tag/EditableTag.tsx
  src/components/toggle/ToggleSwitch.tsx
Labels: feat

#140 LoadingHandler
  src/components/loading/LoadingHandler.tsx
Labels: feat, :zap:

#138 SideMenu
  src/components/portal/SideMenu.tsx
  src/pages/test/index.page.tsx
Labels: feat, :zap:

#142 홈에 위치했던 test 버튼 삭제 및 수정
  src/components/route-home/Card.tsx
  src/components/route-home/CardItem.tsx
  src/components/route-home/CardItemSettingBottomSheet.tsx
  src/pages/index.page.tsx
Labels: fix, :zap:

#136 recoil atom localStorage effect 작성
  src/store/localStorage/effect.ts
  src/store/localStorage/userId.ts
Labels: feat

#132 axios instance
  src/lib/api.ts
Labels: feat

#148 Drawer 개발 및 사용 페이지 생성
  src/components/icon/IconCircleCheck.tsx
  src/components/icon/IconCircleInfo.tsx
  src/components/navigation/DefaultAppBar.tsx
  src/components/portal/Drawer.tsx
  src/pages/information/index.page.tsx
  src/pages/maker/index.page.tsx
  src/pages/setting/alarm.page.tsx
Labels: feat

#152 유저 템플릿 카드 아이템 아이콘
  src/components/route-home/CardItem.tsx
  src/components/route-home/IconCardItemCheck.tsx
Labels: feat

#158 확대 방지 및 Head 분리 사용
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
Labels: feat, :zap:

#154 토스트 메세지 관련 개발
  src/components/portal/ToastWrapper.tsx
  src/pages/_app.page.tsx
  src/pages/test/index.page.tsx
  src/store/toast/toastState.ts
  src/store/toast/useToast.ts
Labels: feat

#159 사용자 인증 라우트 가드 및 proxy 구성
  next.config.js
  src/components/route-guard/RouteGuard.tsx
  src/components/route-guard/useCheckUserToken.ts
  src/lib/api.ts
  src/pages/_app.page.tsx
  src/pages/onboard/step1.page.tsx
  src/store/localStorage/effect.ts
  src/store/localStorage/userId.ts
  src/store/localStorage/userToken.ts
  src/utils/utils.ts
Labels: feat

#168 리스트 추가 바텀 시트 안올라오는 문제
  src/components/route-home/EmptyCard.tsx
Labels: bug, :zap:

#169 onboard route에 WhiteBackgroundGlobalStyle 사용
  src/components/route-onboard/ButtonSection.tsx
  src/pages/onboard/step1.page.tsx
  src/pages/onboard/step2.page.tsx
  src/pages/onboard/step3.page.tsx
Labels: fix, :zap:

#170 카테고리 조회 API 적용 및 Graphic 컴포넌트 개발
  src/components/graphic/Graphic.tsx
  src/components/graphic/type.ts
  src/components/route-home/category/CategorySection.tsx
  src/hooks/api/category/type.ts
  src/hooks/api/category/useGetUserCategories.ts
  src/store/route-home/currentCategory.ts
Labels: feat

#175 알림 설정 페이지 마크업, 정보 페이지 마크업
  src/pages/information/index.page.tsx
  src/pages/setting/alarm.page.tsx
Labels: feat, :zap:

#173 만든 사람들 페이지, AppBar 너비 수정
  src/components/navigation/AppBar.tsx
  src/pages/maker/index.page.tsx
Labels: feat, fix

#183 온보딩 step1 리팩토링
  src/components/item/Item.test.tsx
  src/components/item/Item.tsx
  src/pages/onboard/step1.page.tsx
  src/pages/onboard/step2.page.tsx
  src/pages/test/index.page.tsx
  src/store/route-onboard/selectedOnboardCategory.ts
Labels: test: unit, refactor

#171 사용자 카테고리 Mutation 적용
  src/components/graphic/Graphic.tsx
  src/components/graphic/type.ts
  src/components/route-home/category/CategoryAppendBottomSheet.tsx
  src/components/route-home/category/CategoryEditBottomSheet.tsx
  src/components/route-home/category/CategoryIconRadioFieldset.tsx
  src/components/route-home/category/CategoryRadioFieldset.tsx
  src/components/route-home/category/CategorySettingBottomSheet.tsx
  src/components/route-home/category/type.ts
  src/components/route-search/TemplateAppendBottomSheet.tsx
  src/hooks/api/category/type.ts
  src/hooks/api/category/useGetRecCategories.ts
  src/hooks/api/category/useGetUserCategories.ts
  src/hooks/api/category/useUserCategoryMutation.ts
  src/utils/utils.test.ts
  src/utils/utils.ts
Labels: feat, test: unit

#185 [탐색] API 적용 이전에 필요한 모든 작업 완료 ✨
  src/components/checkbox/Checkbox.test.tsx
  src/components/checkbox/CheckboxGroup.tsx
  src/components/route-search/RecommendationTemplateCard.test.tsx
  src/components/route-search/RecommendationTemplateCard.tsx
  src/hooks/api/template/type.ts
  src/hooks/api/template/useGetRecTemplates.ts
  src/pages/template/index.page.tsx
  src/store/route-search/currentRecCategory.ts
  src/store/route-search/selectedRecCategory.ts
  src/store/route-search/selectedRecItems.ts
  src/store/route-search/selectedRecTemplate.ts
Labels: feat, test: unit, refactor

#189 사용자 템플릿 조회 API 적용 및 카테고리 선택 로직 개발
  src/components/route-home/Card.tsx
  src/components/route-home/CardItem.tsx
  src/components/route-home/category/CategorySection.tsx
  src/hooks/api/template/useGetUserTemplate.ts
  src/pages/index.page.tsx
Labels: feat

#202 FCM 토큰 수신 과정에서 발생한 에러 해결
  src/hooks/pushAlarm/useGetFCMTokenFromApp.ts
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
Labels: fix

#195 소지품 추가 바텀 시트 퍼블리싱 및 기능 개발
  src/components/carousel/Indicator.tsx
  src/components/route-home/Card.tsx
  src/components/route-home/CardItemAppendBottomSheet.tsx
  src/components/route-home/CardItemSettingBottomSheet.tsx
  src/hooks/api/template/useCardItemMutation.ts
  src/hooks/api/template/useGetUserTemplate.ts
  src/hooks/route-home/useCurrentUserTemplate.ts
  src/pages/index.page.tsx
  src/store/route-home/currentUserTemplate.ts
Labels: feat

#204 앱 접속 시 FCM 토큰을 서버로 전송 🧚‍♀️
  .eslintrc.js
  src/components/push-notification/FcmTokenHandler.tsx
  src/hooks/api/pushAlarm/useSendFcmToken.ts
  src/hooks/pushAlarm/useGetFCMTokenFromApp.ts
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/store/push-notification/fcmToken.ts
Labels: feat

#207 feat: fcm 토큰 전송하는 임시 버튼 추가
  src/pages/index.page.tsx
Labels: feat, :zap:

#193 유저 템플릿 생성, 수정, 삭제
  src/components/route-home/Card.tsx
  src/components/route-home/ListAppendBottomSheet.tsx
  src/components/route-home/ListSettingBottomSheet.tsx
  src/hooks/api/template/useUserTemplateMutation.ts
  src/pages/index.page.tsx
Labels: feat

#214 [탐색] 추천 카테고리 조회, 추천 템플릿 조회, 바텀시트 내 유저 카테고리 조회, 유저 템플릿 조회 API 부착
  src/components/route-search/CategorySection.tsx
  src/components/route-search/TemplateAppendBottomSheet.tsx
  src/hooks/api/category/useGetRecCategories.ts
  src/hooks/api/template/useGetRecTemplates.ts
  src/pages/template/index.page.tsx
  src/store/route-search/currentRecCategory.ts
Labels: feat

#208 사용자 소지품 삭제
  src/components/route-home/Card.tsx
  src/components/route-home/CardItem.tsx
  src/components/route-home/CardItemAppendBottomSheet.tsx
  src/components/route-home/CardItemSettingBottomSheet.tsx
  src/hooks/api/template/useCardItemMutation.ts
Labels: feat

#212 Spinner 개발
  src/components/loading/FixedSpinner.tsx
  src/components/loading/Spinner.tsx
  src/components/route-guard/RouteGuard.tsx
  src/pages/index.page.tsx
Labels: feat

#213 Drawer 일러스트 적용
  src/components/portal/Drawer.tsx
Labels: feat

#216 [탐색] `내 리스트에 추가하기` API 부착 완료
  src/components/route-search/CategorySection.tsx
  src/components/route-search/RecommendationTemplateCard.tsx
  src/components/route-search/TemplateAppendBottomSheet.tsx
  src/hooks/api/category/type.ts
  src/hooks/api/template/useAppendToMyTemplate.ts
  src/store/route-search/bottomSheet/selectedCategory.ts
  src/store/route-search/bottomSheet/selectedTemplate.ts
  src/store/route-search/currentRecCategory.ts
  src/store/route-search/selectedRecTemplate.ts
Labels: feat

#219 [탐색] 바텀시트 완료 시 해당 추천템플릿의 체크 상태 리셋, 스피너 적용
  src/components/route-search/RecommendationTemplateCard.test.tsx
  src/components/route-search/RecommendationTemplateCard.tsx
  src/components/route-search/TemplateAppendBottomSheet.tsx
  src/hooks/api/template/useAppendToMyTemplate.ts
  src/hooks/api/template/useGetRecTemplates.ts
  src/pages/template/index.page.tsx
Labels: feat, test: unit

#221 카테고리 추가, 설정 바텀시트 그래픽 종류 단축
  src/components/route-home/category/CategoryIconRadioFieldset.tsx
Labels: fix, :zap:

#220 사용자 카드 pin 버튼 주석처리
  src/components/route-home/Card.tsx
Labels: chore, :zap:

#231 정보 페이지 링크 추가
  src/pages/information/index.page.tsx
Labels: chore, :zap:

#230 이벤트 기록 유틸 개발 및 일부 적용
  src/components/route-home/category/CategoryAppendBottomSheet.tsx
  src/components/route-home/category/CategoryEditBottomSheet.tsx
  src/components/route-home/category/CategorySection.tsx
  src/hooks/analytics/useTrackPageView.ts
  src/lib/analytics/gtag.ts
  src/lib/analytics/mixpanel.ts
  src/lib/analytics/record.ts
  src/pages/_document.page.tsx
Labels: feat, :zap:

#224 추천 소지품 조회, 추가, 삭제
  @types/common.d.ts
  src/components/route-home/RecommendSection.tsx
  src/components/tag/Tag.tsx
  src/hooks/api/recommend-item/useGetRecommendItem.tsx
Labels: feat
