Repository depromeet/ahmatda-web, pull requests merged in 2023-01, with the labels that each got.

#234 만든 사람들 링크 적용 및 기타 수정
  src/pages/maker/index.page.tsx
Labels: feat, :zap:

#222 소지품 수정, 챙김 API
  src/components/route-home/CardItem.tsx
  src/components/route-home/CardItemSettingBottomSheet.tsx
  src/components/route-home/IconCardItemCheck.tsx
  src/hooks/api/template/useCardItemMutation.ts
Labels: feat

#244 [탐색] 바텀시트 내에서 추천 카테고리 선택 시 흰 화면이 지속되는 문제
  src/components/route-search/TemplateAppendBottomSheet.tsx
  src/hooks/api/template/useGetUserTemplatesInSearchTab.ts
Labels: fix, refactor

#247 [탐색] 리스트 요청하기 tally 링크 삽입
  src/components/checkbox/Checkbox.tsx
  src/components/route-search/ListRequestSection.tsx
Labels: :zap:

#238 카드 아이템 추가 에러 핸들링
  src/hooks/api/template/useCardItemMutation.ts
Labels: feat

#237 에러바운더리 개발 및 적용
  src/components/error-boundary/ErrorBoundary.tsx
  src/pages/_app.page.tsx
Labels: feat

#248 카테고리 설정 바텀시트 타이포 수정
  src/components/route-home/category/CategoryRadioFieldset.tsx
Labels: fix, :zap:

#253 사용자 템플릿 조회 alarm-info 대응
  src/components/route-home/Card.tsx
  src/hooks/api/template/type.ts
  src/pages/index.page.tsx
Labels: feat

#254 바텀시트 내 간격 수정
  src/components/route-home/ListAppendBottomSheet.tsx
  src/components/route-home/category/CategoryRadioFieldset.tsx
Labels: :zap:

#255 소지품 추가 이후 입력값 초기화
  src/components/route-home/CardItemAppendBottomSheet.tsx
  src/hooks/common/useInput.ts
Labels: feat, fix

#256 앱 버전 리스닝
  src/components/portal/Drawer.tsx
  src/hooks/bridge/app-version/useAppVersionBridge.ts
  src/hooks/bridge/postAppMessage.ts
  src/hooks/bridge/type.ts
Labels: feat

#259 소지품 추가 닫기 버튼
  src/components/route-home/CardItemAppendBottomSheet.tsx
Labels: bug, fix

#265 간혈적 무한 로딩 현상 해결
  src/components/route-home/category/CategorySection.tsx
Labels: fix

#264 탐색 카테고리 선택시 아이콘 색상 변경
  src/components/route-search/CategorySection.tsx
  src/components/route-search/ListRequestSection.tsx
Labels: feat, fix

#266 소지품, 리스트 수정 이전 값 초기화
  src/components/route-home/CardItemSettingBottomSheet.tsx
  src/components/route-home/ListSettingBottomSheet.tsx
Labels: fix

#267 추천 소지품 좌우 스와이프 핸들링
  src/components/route-home/RecommendSection.tsx
Labels: fix

#268 온보딩 이벤트 부착
  src/pages/onboard/step1.page.tsx
  src/pages/onboard/step2.page.tsx
  src/pages/onboard/step3.page.tsx
Labels: feat

#271 home route 이벤트 부착
  src/components/route-home/CardItem.tsx
  src/components/route-home/CardItemAppendBottomSheet.tsx
  src/components/route-home/CardItemSettingBottomSheet.tsx
  src/components/route-home/ListAppendBottomSheet.tsx
  src/components/route-home/ListSettingBottomSheet.tsx
Labels: feat

#270 test route 삭제
  src/pages/test/index.page.tsx
Labels: chore, :zap:

#269 추천 템플릿 이벤트 부착
  src/hooks/api/template/useAppendToMyTemplate.ts
  src/pages/template/index.page.tsx
Labels: feat

#278 css select 비활성화
  src/styles/GlobalStyles.tsx
Labels: style, fix

#282 사용자 카테고리 설정 마크업 수정
  src/components/route-home/category/CategoryAppendBottomSheet.tsx
  src/components/route-home/category/CategoryEditBottomSheet.tsx
  src/components/route-home/category/CategoryIconRadioGroup.tsx
  src/components/route-home/category/CategoryRadioGroup.tsx
Labels: fix

#288 알림 기록 route
  src/components/navigation/DefaultAppBar.tsx
  src/hooks/api/alarm/type.ts
  src/hooks/api/alarm/useGetAlarmHistory.ts
  src/pages/notice/index.page.tsx
Labels: feat

#290 일러스트 수정 및 개발자 링크 추가
  src/pages/maker/index.page.tsx
Labels: feat

#277 리드미
  README.md
Labels: docs

#295 carousel indicator index 오류 수정
  src/components/carousel/Indicator.tsx
Labels: fix

#296 proxy 비활성화
  next.config.js
  src/lib/api.ts
Labels: refactor

#299 홈에서 뒤로가기 접근 제어를 위한 온보딩 로직 변경
  src/pages/onboard/step1.page.tsx
  src/pages/onboard/step2.page.tsx
  src/pages/onboard/step3.page.tsx
Labels: fix

#303 AppBar 배경색상 인터페이스 추가 및 적용
  src/components/navigation/AppBar.tsx
  src/pages/maker/index.page.tsx
Labels: feat

#304 탐색 탭 불필요한 스크롤 제거
  src/components/checkbox/Checkbox.tsx
  src/components/checkbox/CheckboxWithText.tsx
  src/pages/template/index.page.tsx
Labels: fix, perf
